.bg-wrapper {
    background-image: url("./img/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.rounded-link {
    width: 40px;
    min-width: 40px;
    height: 40px;
    font-size: 25px;
}

.about__img {
    width: 70%;
}

.header__nav {
    background-image: url("./img/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero {
    margin-top: 80px;
}

.departments__badge {
    width: 40px;
    height: 40px;
}

.doctors__badge {
    padding: 5px 10px 10px;
}

.wide-img {
    width: 100%;
}

.narrow-block {
    max-width: 350px;
}

@media (max-width: 768px) {}