<html>
  <head>
    <title>Invite</title>
  </head>
  <body>
    <h1>Dear doctor</h1>
    <p>To complete registration follow to link below:</p>
    <a href='{{inviteLink}}'>Complete registration</a>
    <p>Wellcome!</p>
  </body>
</html>